@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    min-width: 1000px;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #707070;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    line-height: 50px;
    list-style: none;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    border: none;
    outline: none;
    background: #989898;
    padding-left: 50px;
    font-size: 15px;
    color: #fff;
}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover {
    color: #707070;
    background: #fff;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.content {
    position: absolute;
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}

.text {
    font-size: 32px;
    font-weight: 500;
    margin: 30px;
    color:#707070;
}

.grid {
    margin-top: 30px;
    margin-bottom: 100px;
    height: 100%;
}

.grid-item {
    margin: 30px 200px;
    border: 2px solid;
    border-color: #707070;
    border-radius: 12px;
    background-color:#f0f0f0;
    overflow: hidden;
}

#map {
    height: 400px;
    margin: 50px;
}

.info {
    font-size: 24px;
    margin: 35px 50px 0px 50px;
}

.subinfo {
    font-size: 12px;
    margin: 0px 50px 50px 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-color: #707070;
}

.footer-container {
    padding: 10px;
    background-color: #f0f0f0;
}

.footer {
    width: 80%;
    color: #707070;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.footer-column h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}

.footer-column a {
    color: #707070;
    font-size: 14px;
}

.footer-column a:hover {
    color: #fff;
    transition: 0.3 ease-out;
}

.footer p {
    font-size: 14px
}

.highcharts-figure, .highcharts-data-table table {
    margin: 50px;
}

#stacked-bar {
    height: 150vh;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
