<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/bicikelj.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <title>BicikeLJ</title>
</head>
<body>
    <div class="sidebar">
        <ul class="nav_list">
            <li>
                <i class='bx bx-search' ></i>
                <input type="text" placeholder="Išči...">
            </li>
            <li>
                <a href="index.html">
                    <i class='bx bxs-grid' ></i>
                    <span class="links_name">Blog</span>
                </a>
            </li>
            <li>
                <a href="vreme.html">
                    <i class='bx bxs-sun'></i>
                    <span class="links_name">Vreme</span>
                </a>
            </li>
            <li>
                <a href="promet.html">
                    <i class='bx bxs-traffic-cone' ></i>
                    <span class="links_name">Promet</span>
                </a>
            </li>
            <li>
                <a href="kamere.html">
                    <i class='bx bxs-camera' ></i>
                    <span class="links_name">Kamere</span>
                </a>
            </li>
            <li>
                <a href="bicikelj.html">
                    <i class='bx bx-cycling' ></i>
                    <span class="links_name">BicikeLJ</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="text">BicikeLJ</div>
        <div id="map"></div>
        <script>
            getData(L)
        </script>
    </div>    
</body>
</html>